..KEEP_THEM_SORTED!
.externalToolBuilders/
.idea/
*.DS_Store
*.eclipse.jdt.ui.prefs
*.iml
*.keystore
*.properties
*.tmp
/.idea/
/.metadata
/classes/
/out/
bin/
build/
gen-android/
gen-java/
gen/
hohup.out
local.properties
