<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cyberwalkabout.activity.v7.actionbar.listview"
          android:versionCode="1"
          android:versionName="1">

    <application>
        <uses-sdk android:minSdkVersion="7"/>
    </application>

</manifest>


